{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Your Page Title</title>
    <link rel="stylesheet" type="text/css" href="CSS/login.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>

    <style>
        body {
            background-color: white;
            margin: 0;
            padding: 0;
        }

        header {
            text-align: center;
            background-color: #fc9403;
            padding: 20px;
        }

        h1 {
            color: black;
        }
    </style>
</head>
<body>
    <header>
        <h1>COLLEGE STUDENTS CORNER</h1>
    </header>
</body>
</html>
