{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container">
    <div style="text-align: center;">
        <div style="background-color: white;">
            <form method="POST" action="" onsubmit="return validateForm();">
                {% csrf_token %}
                <h2>Login</h2>
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required><br>

                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required><br>

                <input type="submit" value="Submit">
                 {% if messages %}
                    <ul class="messages">
                            {% for message in messages %}
                        <h6><li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li></h6>
                            {% endfor %}
                        </ul>
                    {% endif %}
                <p>Don't have an account? <a href="{% url 'registration' %}">Register here</a></p>
            </form>

        </div>

    </div>
</div>


{% endblock %}
